html, body{
    height: 100%;
    margin: 0;
    scroll-behavior: smooth
}

.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(123, 186, 240);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.name{
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.name p{
    margin: 0;
}

.name #firstName{
    padding-left: 10px;
}

.navbar a{
    font-family: Raleway;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    color: white;
}

.links{
    display: flex;
    gap: 20px;
    margin-top: 18px;
    margin-right: 10px;
}

body{
    background-color: #FAF9F6;
    height: 100%;
}

h1{
    font-family: Raleway;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.main{
    display: flex;
    justify-content: center;
    gap: 50px;

}

.main-text{
    width: 400px;
    font-family: Helvetica;
    font-size: 18px;
}

.main-text a{
    color: black;
    text-decoration: underline;
}

#headshot-image{
    width: 25%;
    height: 25%;
    border-radius: 25px;
}

.project_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 50px;
}

.project{
    position: relative;
    display: block;
    height: 300px;
    width: 300px;
    background: #000;
    background-size: cover;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
}

.project:hover{
    transform: scale(1.01);
}

.hovertext{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(85, 85, 85, 0.9);
    color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s;
    opacity: 0;
    /* This is for the text inside*/
    font-family: Helvetica;
    padding: 20px;
}

.hovertext h2, .hovertext p{
    text-align: center;
}

.project:hover .hovertext, .project:active .hovertext{
    opacity: 0.8;
}

/* .project p, #experience p{
    font-family: Helvetica;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
} */

.resume{
    font-family: Helvetica;
    width: 250px;
    height: 60px;
    font-size: 24px;
    margin-top: 20px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

.resume:hover{
    background-color: #e6e6e6;
}

#contact{
    margin-bottom: 60px;
}

.contacts{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: Helvetica;
    font-size: 16px;
}

.contact-link img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.contact-link a{
    color: black;
}

.copyright{
    background-color: #f6f6f6;
}

.copyright p{
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

/* Trying to add more space between each div */
#home, #projects, #experience, #contact{
    padding-top: 50px;
    padding-bottom: 75px;
}

#home{
    padding-top: 50px;
}

#contact{
    padding-bottom: 0;
}
